@model _04_Data.Datos.pelicula

@{
    ViewBag.Title = "Details";
}
<div class="container-fluid py-10">
    <h4 style="font-family: 'Neue Haas Grotesk Text Pro'; font-size:30px; text-align:center;  text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87">@Html.DisplayFor(model => model.titulo)</h4>
    <hr />




    <div style="font-size: 15px; text-align:center">

        <span>Fecha de lanzamiento:</span>
        <span>@Html.DisplayFor(model => model.añolanzamiento)</span>
        <br />
        <span>Duración:</span>
        <span>@Html.DisplayFor(model => model.duracion)</span>
        <br />
        <span>Clasificación:</span>
        <span>@Html.DisplayFor(model => model.clasificacion)</span>
        <br />
        <span>Presupuesto:</span>
        <span>@Html.DisplayFor(model => model.presupuesto)</span>
        <br />
        <span>Recaudación:</span>
        <span>@Html.DisplayFor(model => model.recaudacion)</span>
        <br />

        @*@Html.DisplayFor(model => model.añolanzamiento)


        @Html.DisplayFor(model => model.sinopsis)


        @Html.DisplayFor(model => model.premios)


        @Html.DisplayFor(model => model.duracion)


        @Html.DisplayFor(model => model.clasificacion)


        @Html.DisplayFor(model => model.presupuesto)


        @Html.DisplayFor(model => model.recaudacion)


        @Html.DisplayFor(model => model.actor.actor_principal)


        @Html.DisplayFor(model => model.companyia.nombre)


        @Html.DisplayFor(model => model.director.nombre)


        @Html.DisplayFor(model => model.genero.nombre)*@

    </div>


    


</div>
@{
    string onClickAnterior = "pelicula(" + Model.id + "," + 0 + ")";
    string onClickSiguiente = "pelicula(" + Model.id + "," + 1 + ")";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <input class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: left; font-size: 12px; border-color: aqua" value="Anterior" onclick=@onClickAnterior>
            <input class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: right; font-size: 12px; border-color: aqua" value="Siguiente" onclick=@onClickSiguiente>
        </div>
    </div>
</div>

