@model _04_Data.Datos.director



<br />
<div style="font-size:20px">
    <h1 style="text-align:center; text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; color:white;">Detalles del Director</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Director
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Fecha de nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            Residencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.residencia)
        </dd>

        <dt>
            Premios
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premios)
        </dd>

        <dt>
            Distinciones
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distinciones)
        </dd>
    </dl>
</div>
