@model _04_Data.Datos.companyia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>companyia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sede_central)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sede_central)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fundacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fundacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fundador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fundador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
