@model _04_Data.Datos.actor

@{
    ViewBag.Title = "Details";
}
<div class="container-fluid py-10">
    <br /><br /><br /><br />
    <h4 style="font-family: 'Neue Haas Grotesk Text Pro'; font-size:30px; text-align:center;  text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87">@Html.DisplayFor(model => model.actor_principal)</h4>
    <hr />




    <div style="font-size: 15px; text-align:center">

        
        <span>Fecha de Nacimiento:</span>
        <span>@Html.DisplayFor(model => model.fecha_nacimiento)</span>
        <br />
        <span>Años en Activo:</span>
        <span>@Html.DisplayFor(model => model.años_activo)</span>
        <br />
        <span>Pcupación:</span>
        <span>@Html.DisplayFor(model => model.ocupacion)</span>
        <br />
        <span>Premios:</span>
        <span>@Html.DisplayFor(model => model.premios)</span>
        <br />


    </div>





</div>
@{
    string onClickAnterior = "actor(" + Model.id + "," + 0 + ")";
    string onClickSiguiente = "actor(" + Model.id + "," + 1 + ")";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <input class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: left; font-size: 12px; border-color: aqua" value="Anterior" onclick=@onClickAnterior>
            <input class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: right; font-size: 12px; border-color: aqua" value="Siguiente" onclick=@onClickSiguiente>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <span class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: left; font-size: 12px; border-color: aqua">@Html.ActionLink("Edit", "Edit", new { id = Model.id })</span>
            <span class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: right; font-size: 12px; border-color: aqua">@Html.ActionLink("Back to List", "Index")</span>
        </div>
    </div>
</div>

@{
    Layout = null;
}