@model _04_Data.Datos.actor

@*@{
        ViewBag.Title = "Delete";
    }*@

<br />

<div class="form-horizontal" style="font-size:20px">

    <h1 style="text-align:center; text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; color:white;">Actor a borrar, ¿seguro?</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Actor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor_principal)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            Años en activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.años_activo)
        </dd>

        <dt>
            Ocupación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ocupacion)
        </dd>

        <dt>
            Premios
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premios)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="font-size:20px"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
